html {
	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
}

body {
	width: 100vw;
	height: 100vh;
}

.menu {
	position: absolute;
	top: 0;
	bottom: 4.5rem;
	right: 0;
	left: 0;
	background-color: rgb(240,240,240);
	text-align: center;
}

.menu-item {
	display: inline-block;
	position: relative;
	color: white;
	background-color: brown;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	margin-left: 1rem;
	padding: 0.5rem 2rem 0.5rem 2rem;
	border-radius: 3px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
	font-size: 2.8rem;
}

.menu-item:hover {
	opacity: 0.9;
	box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

.container {
	position: absolute;
	top: 4.5rem ;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 50px;
	background-color: rgb(240,240,240);
	overflow: scroll;
	text-align: center;
}

.diagram-container {
	display: inline-block;
	position: relative;
	width: 860px;
	height: 442px;
	margin-bottom: 50px;
	margin-right: 100px;
	background-color: rgb(250,250,250);
	box-shadow: 0 4px 6px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-radius: 2px;
	text-align: left;
}

.diagram-container:hover {
	box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

.date-label {
	display: inline-block;
	color: white;
	background-color: brown;
	box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
	padding: 0.5rem;
	border-radius: 1px;
}

.score-label {
	position: absolute;
	right: 20px;
	display: inline-block;
	color: black;
	background-color: rgb(250,250,250);
	padding: 0.5rem;
	border-radius: 3px;
}

.diagram {
	margin-top: 5px;
}

.my-submarine {
	fill: rgb(21,122,140);
}

.sonar {
	fill: rgba(21,122,140, 0.15);
	animation: sonar-pulse 2s infinite;
}

@keyframes sonar-pulse {
	0% { fill:rgba(21,122,140, 0.15); }
	50% { fill:rgba(211,122,140, 0.30); }
	100% { fill:rgba(21,122,140, 0.15); }
}

.torpedo {
	fill: red;
}

.other-submarine {
	fill: black;
}
